<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.STechDBConnectionString" connectionString="Data Source=DESKTOP-LS17S4E;Initial Catalog=STechDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.STechDBConnectionString1"
            connectionString="Data Source=AORUS-Laptop;Initial Catalog=STechDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>